*{
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100vh;
	background-color: aquamarine;
	flex-wrap: wrap;
}
.top{
	width: 100%;
	text-align: center;
}
.top img{
	width: 150px;
	height: 150px;
	border-radius: 90%;
}
.top h3{
	font-size: 30px;
	margin: 15px 0;
	letter-spacing: 5px;
}
.top p{
	font-size: 20px;
	height: 150px;
}
.bottom img{
	width: 60px;
	height: 50px;
}
.box ul{
	display: flex;
	width: 100%;
	text-align: center;
}
.box ul li{
	list-style: none;
	width: 25%;
}
.box ul li a{
	display: flex;
	text-decoration: none;
	justify-content: center;
	flex-wrap: wrap	
}
.box ul li span{
	width: 100%;
	text-align: center;
}
.nav{
	width: 100%;
	color: black;
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
}
.nav ul li a{
	text-decoration: none;
	color: black;
}
.logo h3{
	font-size: 30px;
	letter-spacing: 5px;
}
.nav{
	width: 100%;
	height: 100vh;
	background-color: aquamarine;
	flex-wrap: wrap;
}
.logo img{
	width: 600px;
	height: 550px;
	padding: 0 200px 0 200px;
}
.reference p{
	font-size: 20px;
	padding: 0px 15px 15px 15px;
	height: 150px;
	letter-spacing: 1px;
}
.reference a{
	padding-left: 15px;
}
.plan{
	padding-left: 20px;
	font-size: 20px;
}
.plan img{
	width: 400px;
	height: 300px;
	border-radius: 25px;
}
.renshi img{
	width: 400px;
	height: 300px;
	border-radius: 25px;
}